.service-section{
    /* margin-top: -100px; */
    height: 40vh;
    /* z-index: 999; */
}
.services{
    /* box-shadow: 0 10px 15px rgb(0 0 0 / 0.16); */
    border-radius: 20px;
    transition: ease-in-out 0.3s;
    width: 250px;
    height: 200px;
    transition: all ease 0.3s;
}
.icon img{
    transition: all ease 0.3s;
    display: block;
    margin: 0 auto;
    margin-left: 20px;
}
.service-title{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #202020;
    transition: all ease 1s;
    font-family: 'Khand', sans-serif;
    font-weight: 500;
}
.hide{
    display: none;
    text-align: center;
    /* color: #f0f3f5; */
    color: #202020;
    font-size: 22px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}
.services:hover .service-title, .services:hover .icon img{
    display: none;
}
.services:hover .hide{
    display: block;
}
.services:hover{
    /* transform: translateY(-40px); */
    box-shadow: 0 10px 15px rgb(0 0 0 / 0.56);
    /* margin-top: -20px; */
    /* background: rgb(43,49,82);
    background: linear-gradient(317deg, rgba(43,49,82,1) 0%, rgba(19,26,59,1) 100%); */
}
.services:hover .service-icon, .services:hover .service-title{
    color: #fff;
}
 /* Responsive Design  */
 @media (max-height: 510px){
    .service-section{
        margin-top: 130px;
        height: 40vh;
    }
 }
 @media (max-height: 405px){
    .service-section{
        margin-top: 220px;
        height: 40vh;
    }
 }
 @media (max-height: 340px){
    .service-section{
        margin-top: 320px;
    }
 }