.footerBanner{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(70deg, rgb(12, 17, 24), rgba(18, 27, 38, 0)) ,url("../../../Images/footerBanner/pexels-pixabay-219692\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footerBanner div{
    margin-left: 60px;
    color: #fff;
}
.footerBanner-title-before{
    font-family: 'Khand', sans-serif;
    font-size: 18px;
    line-height: 1.57143;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: left;
    /* color: rgb(253, 253, 253); */
    color: tomato;
    position: relative;
}
.footerBanner-title{
    font-size: 38px;
    line-height: 1.2;
    margin-bottom: 16px;
    line-height: 50px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 20px;
    color: #fff;
}
.footerBanner-para{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

/* RESPONSIVE DESIGN  */
/* ------Height-------- */
@media (max-height: 520px){
    .footerBanner{
        height: 80vh;
    }
}
@media (max-height: 410px){
    .footerBanner{
        height: 90vh;
    }
}
@media (max-height: 340px){
    .footerBanner{
        height: 100vh;
    }
}
/* -----------Width--------- */
@media (max-width: 768px){
    .footerBanner div{
        margin-left: 40px;
    }
    .footerBanner-title{
        font-size: 34px;
        line-height: 1.2;
        line-height: 50px;
    }   
}
@media (max-width: 630px){
    .footerBanner div{
        margin-left: 25px;
    }
    .footerBanner-title-before{
        font-size: 16px;
    }
    .footerBanner-title{
        font-size: 30px;
        line-height: 1.2;
        line-height: 40px;
    }   
    .footerBanner-para{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }
}
@media (max-width: 562px){
    .footerBanner-title{
        font-size: 26px;
        line-height: 1.2;
        line-height: 35px;
    } 
}
@media (max-width: 320px) and (max-height: 570px){
    .footerBanner{
        height: 70vh;
    }
}