.nav{
    background: transparent;
    height: 80px;
    padding: 0 50px;
    position:absolute;
    width:100%;
    z-index:10;
    max-width:100%;
}
.logo img{
    width: 200px;
    height: 50px;
    opacity: 0.9;
}
.nav-items{
    width: 400px;
}
.nav-btn{
    min-width: 180px;
    padding: 15px 0;
    font-size: 16px;
    transition: 0.4s;
    font-weight: 500;
    text-align: center;
    border-radius: 30px;
    font-family: 'Khand', sans-serif;
    letter-spacing: 2.7px;
    line-height: 1.5;
    white-space: nowrap;
    text-transform: uppercase;
    transition: all ease-in-out 0.3s;
    border: 1px solid #122333;
}
.nav-btn:hover{
    border-radius: 0px;
}
.nav-btn:hover, 
.nav-btn:focus{
    box-shadow: inset 12em 0 0 0 #122333;
    color: tomato;
}
@media (max-width: 930px){
    .nav-btn{
        min-width: 160px;
        padding: 15px 0;
        font-size: 16px;
        letter-spacing: 2.7px;
        line-height: 1.5;
    }
}
@media (max-width: 768px){
    .nav{
        padding: 0 10px;
    }
    .nav-items{
        width: 350px;
    }
}
@media (max-width: 622px){
    .nav-btn{
        min-width: 140px;
        padding: 10px 0;
        font-size: 16px;
        letter-spacing: 2.7px;
        line-height: 1.5;
    }
    .nav-items{
        width: 300px;
    }
}
@media (max-width: 524px){
    .nav-btn{
        min-width: 110px;
        padding: 10px 0;
        font-size: 13px;
        letter-spacing: 2px;
        line-height: 1.5;
    }
    .nav-items{
        width: 250px;
    }
}
@media (max-width: 462px){
    .nav-btn{
        min-width: 90px;
        padding: 8px 0;
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 1.5;
    }
    .nav-items{
        width: 190px;
    }
}
@media (max-width: 469px){
    .nav{
        justify-content: center;
        align-items: center;
    }
    .logo{
        display: block;
        margin: 10px auto 0 auto;
    }
    .logo img{
        display: block;
    }
    .nav-items{
        display: none;
    }
    .nav-items .nav-btn{
    display: none;
    }

}
