.footer{
    width: 100%;
    color: #fff;
    height: 60vh;
    background: rgb(48,75,99);
    background: linear-gradient(317deg, rgba(48,75,99,1) 0%, rgba(18,35,51,1) 100%);
}
.social-section{
    height: 60px;   
}
.social-button{
    width: 50%;
    background-color: rgba(212,228,234,1);
    padding-left: 40px;
}
.contact-button{
    background: tomato;
    height: 60px;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    transition: all ease-in-out 0.5s;
}
.contact-button:hover .footer-icon{
    transform: rotate(360deg);
    color: #122333;
    transition: all ease-in-out 0.5s;
}
.contact-button:hover .call{
    color: #122333;
}
.social-button a{
    width: 80px;
    height: 60px;
}
.fb{
    background-color: #beced4;
}
.twtr{
    background-color: #c8d6da;
}
.insta{
    background-color: #ccdadfa4;
}
.in{
    background-color: #d5e2e6;
}
.social-button a:hover{
    background: tomato;
    color: #fff;
}
.social-button a:hover .footer-icon{
    color: #fff;
}
.social-button .footer-icon{
    width: 25px;
    height: 25px;
    color: #122333;
}
.other-section{
    margin-top: 10px;
    height: 260px;
}
.about{
    width: 400px;
}
.about .des{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
.footer-services h5, .customer-care h5{
    margin-bottom: 50px;
    font-family: 'Khand', sans-serif;
    line-height: 1.57143;
    font-weight: 500;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-size: 17px;
}
.other-section ul{
    list-style: none;
}
.other-section li::before{
    content: "\2022";
    color: #ed4c21;
    font-weight: bold;
    display: inline-block; 
    width: 1.2em;
    margin-left: -1em;
}
.footer-link{
    color: #bac0c3;
    text-decoration: none;
    letter-spacing: 1.2px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
.footer-link:hover{
    color: #ed4c21;
}
.copyright-section{
    margin-top: 20px;
    padding: 0 150px;
    height: 50px;
}
.copyright-section p{
    color: #bac0c3;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
.copyright-section .link a{
    text-decoration: none;
    color: #ffffff;
}
.copyright-section .link a:hover{
    color: #ed4c21;
}