.footer{
    width: 100%;
    color: #fff;
    height: 60vh;
    background: rgb(48,75,99);
    background: linear-gradient(317deg, rgba(48,75,99,1) 0%, rgba(18,35,51,1) 100%);
}
.social-section{
    height: 60px;   
}
.social-button{
    width: 50%;
    background-color: rgba(212,228,234,1);
    padding-left: 40px;
}
.contact-button{
    background: tomato;
    height: 60px;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    transition: all ease-in-out 0.5s;
}
.contact-button:hover .footer-icon{
    transform: rotate(360deg);
    color: #122333;
    transition: all ease-in-out 0.5s;
}
.contact-button:hover .call{
    color: #122333;
}
.social-button a{
    width: 80px;
    height: 60px;
}
.fb{
    background-color: #beced4;
}
.twtr{
    background-color: #c8d6da;
}
.insta{
    background-color: #ccdadfa4;
}
.in{
    background-color: #d5e2e6;
}
.social-button a:hover{
    background: tomato;
    color: #fff;
}
.social-button a:hover .footer-icon{
    color: #fff;
}
.social-button .footer-icon{
    width: 25px;
    height: 25px;
    color: #122333;
}
.other-section{
    margin-top: 80px;
}
.about{
    /* width: 400px; */
}
.about .des{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
.footer-services h5, .customer-care h5{
    margin-bottom: 50px;
    font-family: 'Khand', sans-serif;
    line-height: 1.57143;
    font-weight: 500;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-size: 17px;
}
.other-section ul{
    list-style: none;
}
.other-section li::before{
    content: "\2022";
    color: #ed4c21;
    font-weight: bold;
    display: inline-block; 
    width: 1.2em;
    margin-left: -1em;
}
.footer-link{
    color: #bac0c3;
    text-decoration: none;
    letter-spacing: 1.2px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
.footer-link:hover{
    color: #ed4c21;
}
.copyright-section{
    margin-top: 20px;
    padding: 0 150px;
    height: 50px;
}
.copyright-section p{
    color: #bac0c3;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
.copyright-section .link a{
    text-decoration: none;
    color: #ffffff;
}
.copyright-section .link a:hover{
    color: #ed4c21;
}
.footer-hr{
    width: 70%;
    border: 1px solid white;
    display: none;
}
.link{
    text-decoration: none;
}
.footer-logo img{
    width: 200px;
    height: 50px;
    
}
/* Responsive  */
/* -----Height---------- */
@media (max-height: 520px){
    .footer{
        height: 80vh;
    }
}
@media (max-height: 410px){
    .footer{
        height: 100vh;
    }
}
@media (max-height: 340px){
    .footer{
        height: 120vh;
    }
}
/* -------Width------------ */
@media (max-width: 1024px) and (max-height: 1366px){
    .footer{
        height: 32vh;
    }
}
@media (max-width: 1024px) and (max-height: 1128px){
    .footer{
        height: 40vh;
    }
}
@media (max-width: 994px){
    .footer{
        height: 135vh;
    }
    .copyright-section{
        margin-top: 40px;
        padding: 0 50px;
        height: 50px;
    }
}
@media (max-width: 768px){
    .footer{
        height: 143vh;
    }
    .footer-hr{
        display: block;
    }
    .other-section{
    justify-content:center;
    align-items: center;
    align-content: center;
    padding: 0 30px;
    }
    .other-section li::before{ 
        width: 1.2em;
        margin-left: -2em;
    }
    .copyright-section p{
        display: block;
    }
    .footer-services h5, .customer-care h5{
        margin-bottom: 30px;
    }
    .footer-hr{
        margin: 40px 0;
    }
    .contact-button{
        font-size: 14px;
    }
}
@media (max-width: 768px) and (max-height: 1024px){
    .footer{
        height: 80vh;
    }
}
@media (max-width: 768px) and (max-height: 997px){
    .footer{
        height: 85vh;
    }
}
@media (max-width: 768px) and (max-height: 936px){
    .footer{
        height: 90vh;
    }
}
@media (max-width: 768px) and (max-height: 880px){
    .footer{
        height: 95vh;
    }
}
@media (max-width: 768px) and (max-height: 830px){
    .footer{
        height: 100vh;
    }
}
@media (max-width: 670px) and (max-height: 1024px){
    .footer{
        height: 80vh;
    }
}
@media (max-width: 670px) and (max-height: 985px){
    .footer{
        height: 83vh;
    }
}
@media (max-width: 670px) and (max-height: 965px){
    .footer{
        height: 90vh;
    }
}
@media (max-width: 670px) and (max-height: 885px){
    .footer{
        height: 95vh;
    }
}
@media (max-width: 670px) and (max-height: 830px){
    .footer{
        height: 100vh;
    }
}
@media (max-width: 670px) and (max-height: 795px){
    .footer{
        height: 105vh;
    }
}
@media (max-width: 670px) and (max-height: 768px){
    .footer{
        height: 110vh;
    }
}
@media (max-width: 670px) and (max-height: 730px){
    .footer{
        height: 120vh;
    }
}
@media (max-width: 620px) and (max-height: 1024px){
    .footer{
        height: 80vh;
    }
}
@media (max-width: 620px) and (max-height: 985px){
    .footer{
        height: 95vh;
    }
}
@media (max-width: 620px) and (max-height: 768px){
    .footer{
        height: 110vh;
    }
}
@media (max-width: 620px) and (max-height: 720px){
    .footer{
        height: 113vh;
    }
}
@media (max-width: 620px) and (max-height: 709px){
    .footer{
        height: 117vh;
    }
}
@media (max-width: 620px) and (max-height: 680px){
    .footer{
        height: 125vh;
    }
}
@media (max-width: 560px){
    .other-section{
        padding: 0 20px;
        }
    .copyright-section{
        margin-top: 30px;
        padding: 0 10px;
        height: 40px;
    }
    .about .des{
        font-size: 15px;
    }
    .footer-services h5, .customer-care h5{
        font-size: 16px;
    }
    .footer-link{
        font-size: 15px;
    }
    .contact-button{
        font-size: 12px;
    }
    .copyright-section p{
        font-size: 10px;
    }
}
@media (max-width: 540px) and (max-height: 768px){
    .footer{
        height: 100vh;
    }
}
@media (max-width: 540px) and (max-height: 760px){
    .footer{
        height: 105vh;
    }
}
@media (max-width: 540px) and (max-height: 720px){
    .footer{
        height: 115vh;
    }
}
@media (max-width: 540px) and (max-height: 675px){
    .footer{
        height: 125vh;
    }
}
@media (max-width: 540px) and (max-height: 610px){
    .footer{
        height: 128vh;
    }
}
@media (max-width: 540px) and (max-height: 600px){
    .footer{
        height: 130vh;
    }
}
@media (max-width: 540px) and (max-height: 566px){
    .footer{
        height: 140vh;
    }
}
@media (max-width: 425px) and (max-height: 768px){
    .footer{
        height: 105vh;
    }
}@media (max-width: 425px) and (max-height: 755px){
    .footer{
        height: 110vh;
    }
}
@media (max-width: 425px) and (max-height: 720px){
    .footer{
        height: 115vh;
    }
}
@media (max-width: 425px) and (max-height: 680px){
    .footer{
        height: 120vh;
    }
}
@media (max-width: 425px) and (max-height: 622px){
    .footer{
        height: 130vh;
    }
}
@media (max-width: 425px) and (max-height: 570px){
    .footer{
        height: 140vh;
    }
}
@media (max-width: 425px) and (max-height: 525px){
    .footer{
        height: 150vh;
    }
}
@media (max-width: 380px){
    .footer{
        height: 150vh;
    }
}
@media (max-width: 375px) and (max-height: 768px){
    .footer{
        height: 103vh;
    }
}
@media (max-width: 375px) and (max-height: 720px){
    .footer{
        height: 110vh;
    }
}
@media (max-width: 375px) and (max-height: 670px){
    .footer{
        height: 125vh;
    }
}
@media (max-width: 375px) and (max-height: 620px){
    .footer{
        height: 135vh;
    }
}
@media (max-width: 375px) and (max-height: 570px){
    .footer{
        height: 140vh;
    }
}
@media (max-width: 375px) and (max-height: 520px){
    .footer{
        height: 140vh;
    }
}
@media (max-width: 375px) and (max-height: 480px){
    .footer{
        height: 150vh;
    }
}
@media (max-width: 320px) and (max-height: 768px){
    .footer{
        height: 110vh;
    }
}
@media (max-width: 320px) and (max-height: 700px){
    .footer{
        height: 120vh;
    }
}
@media (max-width: 320px) and (max-height: 635px){
    .footer{
        height: 130vh;
    }
}
@media (max-width: 320px) and (max-height: 580px){
    .footer{
        height: 140vh;
    }
}
@media (max-width: 320px) and (max-height: 540px){
    .footer{
        height: 150vh;
    }
}
@media (max-width: 320px) and (max-height: 500px){
    .footer{
        height: 160vh;
    }
}
@media (max-width: 320px) and (max-height: 460px){
    .footer{
        height: 170vh;
    }
}
@media (max-width: 320px) and (max-height: 430px){
    .footer{
        height: 170vh;
    }
}
@media (max-width: 254px){
    .footer{
        height: 160vh;
    }
}
@media (max-width: 234px){
    .footer{
        height: 180vh;
    }
}