.chooseSerivce{
    width: 100%;
    height: 190vh;
    background: rgb(97,203,244);
    background: linear-gradient(317deg, rgb(75, 247, 238)  0%, rgb(50, 201, 193) 100%);
}
.chooseService-body{
    flex-wrap: wrap;
}
.chooseService-title-before{
    font-family: 'Khand', sans-serif;
    font-size: 18px;
    line-height: 1.57143;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: left;
    /* color: rgb(253, 253, 253); */
    color: tomato;
    position: relative;
}
.chooseService-title{
    font-size: 62px;
    line-height: 1.2;
    margin-bottom: 16px;
    line-height: 57px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 60px;
    color: #fff;
}
.card{
    width: 18rem;
    padding: 20px 0px;
    border-radius: 10px;
    margin: 20px 40px;
    transition: all ease 0.3s;
}
.card:hover{
    box-shadow: 2px 2px 10px #122333;
    transition: all ease 0.3s;
}
.card img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.card .card-title{
    color: #dc3545;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 1.2;
    font-family: 'Titillium Web', sans-serif;
}
.card .card-text{
    font-size: 14px;
    color: #28a745;
    font-weight: 700;
    font-family: 'Khand', sans-serif;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    line-height: 1.57143;
}
.card .card-small{
    font-size: 13px;
    color: #6c757d;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.card .card-small-hover{
    font-size: 13px;
    color: #6c757d;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    display: none;
}
.card:hover .card-small{
    display: none;
}
.card:hover .card-small-hover{
    display: block;
}
.card-body .btn{
    font-family: 'Khand', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    width: 120px;
    line-height: 1.8;
    white-space: nowrap;
    text-transform: uppercase;
    background: #122333;
    border-color: #122333;
    color: #ff6347;
    transition: all ease-in-out 0.3s;
    position: relative;
    overflow: hidden;
}
.card-body .btn:hover, .card-body .btn:focus{
    box-shadow: 0 0.5em 0.5em -0.4em tomato;
  transform: translateY(-0.25em);
}
.card-body .btn:hover::before{
    opacity: 1; 
    transform: translate(0,0);;
}
.card-body .btn::before{
    content: attr(data-hover);
      position: absolute;
      top: 0.6em; left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: .8em;
      opacity: 0;
      transform: translate(-100%,0);
      transition: all .3s ease-in-out;
}
.card-body .btn div{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1.8;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 16px;
    transition: all .3s ease-in-out;
    font-family: 'Khand', sans-serif;
}
.card-body .btn:hover div{
    opacity: 0; 
    transform: translate(100%,0)
}

/* RESPONSIVE DESIGN  */
/* -------Height------ */
@media (max-height: 1024px){
    .chooseSerivce{
        height: 180vh;
    }
}
@media (max-height: 510px){
    .chooseSerivce{
        height: 240vh;
    }
}
@media (max-height: 405px){
    .chooseSerivce{
        height: 350vh;
    }
}
@media (max-height: 340px){
    .chooseSerivce{
        height: 420vh;
    }
}
/* -------Width------- */
@media (max-width: 1128px){
    .card{
        padding: 20px 0px;
        margin: 20px 20px;
    }
}
@media (max-width: 1008px){
    .card{
        width: 17rem;
        padding: 20px 0px;
        margin: 20px 5px;
    }
}
@media (max-width: 1024px) and (max-height: 1366px){
    .chooseSerivce{
        height: 100vh;
    }
}
@media (max-width: 870px){
    .card{
        width: 16rem;
        padding: 20px 0px;
        margin: 20px 5px;
    }
}
@media (max-width: 820px){
    .chooseSerivce{
        height: 300vh;
    }
    .card{
        width: 17rem;
        padding: 20px 0px;
        margin: 20px 20px;
    }
    .chooseService-title{
        font-size: 52px;
        line-height: 1.2;
        line-height: 57px;
        font-weight: 600;
    }
}
@media (max-width: 768px) and (max-height: 1200px){
    .chooseSerivce{
        height: 140vh;
    }
}
@media (max-width: 768px) and (max-height: 1024px){
    .chooseSerivce{
        height: 160vh;
    }
}
@media (max-width: 648px){
    .chooseSerivce{
        height: 200vh;
    }
    .card{
        width: 16rem;
        padding: 20px 0px;
        margin: 20px 10px;
    }
}
@media (max-width: 650px) and (max-height: 768px){
    .chooseSerivce{
        height: 220vh;
    }
}
@media (max-width: 650px) and (max-height: 672px){
    .chooseSerivce{
        height: 240vh;
    }
}
@media (max-width: 576px){
    .card{
        width: 14rem;
        padding: 20px 0px;
        margin: 20px 10px;
    }
    .chooseService-title{
        font-size: 48px;
        line-height: 1.2;
        line-height: 57px;
        font-weight: 600;
    }
}
@media (max-width: 550px) and (max-height: 720px){
    .chooseSerivce{
        height: 230vh;
    }
}
@media (max-width: 550px) and (max-height: 630px){
    .chooseSerivce{
        height: 280vh;
    }
}
@media (max-width: 510px){
    .chooseSerivce{
        height: 520vh;
    }
    .card{
        width: 18rem;
        padding: 20px 0px;
        margin: 20px 10px;
    }
    .chooseService-title{
        font-size: 38px;
        line-height: 1.2;
        line-height: 40px;
        font-weight: 600;
    }
}
@media (max-width: 425px) and (max-height: 850px){
    .chooseSerivce{
        height: 330vh;
    }
}
@media (max-width: 425px) and (max-height: 768px){
    .chooseSerivce{
        height: 350vh;
    }
}
@media (max-width: 425px) and (max-height: 720px){
    .chooseSerivce{
        height: 380vh;
    }
}
@media (max-width: 425px) and (max-height: 670px){
    .chooseSerivce{
        height: 420vh;
    }
}
@media (max-width: 425px) and (max-height: 603px){
    .chooseSerivce{
        height: 460vh;
    }
}
@media (max-width: 414px) {
    .chooseService-title{
        font-size: 30px;
        margin-bottom: 30px;
    }
}
@media (max-width: 375px) and (max-height: 720px){
    .chooseSerivce{
        height: 380vh;
    }
}
@media (max-width: 375px) and (max-height: 670px){
    .chooseSerivce{
        height: 400vh;
    }
}
@media (max-width: 375px) and (max-height: 625px){
    .chooseSerivce{
        height: 420vh;
    }
}
@media (max-width: 375px) and (max-height: 503px){
    .chooseSerivce{
        height: 550vh;
    }
}
@media (max-width: 330px){
    .chooseService-title{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .chooseService-title-before{
        font-size: 15px;
    }
    .card{
        width: 14rem;
        padding: 20px 0px;
    }
    .card .card-title{
        font-size: 22px;
    }
    .card .card-text{
        font-size: 12px;
    }
    .card .card-small{
        font-size: 12px;
        letter-spacing: 0.8px;
    }
    .card-body .btn{
        letter-spacing: 2px;
        width: 100px;
        line-height: 1.8;
    }
}
@media (max-width: 320px) and (max-height: 670px){
    .chooseSerivce{
        height: 380vh;
    }
}
@media (max-width: 320px) and (max-height: 640px){
    .chooseSerivce{
        height: 400vh;
    }
}
@media (max-width: 320px) and (max-height: 600px){
    .chooseSerivce{
        height: 430vh;
    }
}
@media (max-width: 320px) and (max-height: 550px){
    .chooseSerivce{
        height: 470vh;
    }
}