.sendAsGift{
    width: 100%;
    color: #fff;
    height: 100vh;
    background: rgb(224, 224, 224);
    background: linear-gradient(317deg, rgba(70,93,115,1) 0%, rgba(18,35,51,1) 100%);
}
.sendAsGift-title-before{
    font-family: 'Khand', sans-serif;
    font-size: 18px;
    line-height: 1.57143;
    font-weight: 500;
    color: tomato;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.sendAsGift h2{
    font-size: 41px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 8px;
    line-height: 57px;
    font-weight: 600;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
}
.sendAsGift-title-after{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
.sendAsGift ul{
    list-style: none;
    padding-left: 0;
    margin: 30px 0px;
}
.sendAsGift ul li{
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4px;
}
.sendAsGift ul li::before{
    content: '❤️';
    border: 0px solid #00A76D;
    /* background: #00A76D; */
    border-radius: 30px;
    /* padding: 0.1em 0.12em; */
    position: absolute;
    left: 0px;
    height: 25px;
    width: 25px;
    text-align: center;
}
.sendAsGift .contact .btn{
    width: 180px;
    height: 50px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    font-family: 'Khand', sans-serif;
    letter-spacing: 1.7px;
    white-space: nowrap;
    text-transform: uppercase;
    transition: all ease-in-out 0.3s;
    margin-bottom: 10px;
}
.sendAsGift .contact .btn:hover{
    color: #fff;
}
.sendAsGift .contact .mail{
    border: 1px solid tomato;
    margin-right: 10px;
    color: tomato;
}
.sendAsGift .contact .mail:hover{
    box-shadow: inset 12em 0 0 0 tomato;
}
.sendAsGift .contact .whatsapp{
    border-color:  #28a745;
    color: #28a745;
}
.sendAsGift .contact .whatsapp:hover{
    box-shadow: inset 12em 0 0 0 #28a745;
}

/* RESPONSIVE DESIGN  */
/* ------height-------- */
@media (max-height: 520px){
    .sendAsGift{
        height: 140vh;
    }
}
@media (max-height: 410px){
    .sendAsGift{
        height: 180vh;
    }
}
/* -------Width-------- */
@media (max-width: 1024px) and (max-height: 1366px){
    .sendAsGift{
        height: 70vh;
    }
}
@media (max-width: 994px){
    .sendAsGift .contact .btn{
        width: 140px;
        height: 50px;
    }
}
@media (max-width: 994px){
    .sendAsGift{
        height: 220vh;
    }
    .sendAsGift .row{
        /* flex-direction: column-reverse; */
    }
}
@media (max-width: 768px) and (max-height: 1024px){
    .sendAsGift{
        height: 90vh;
    }
}
@media (max-width: 767px) and (max-height: 1024px){
    .sendAsGift{
        height: 130vh;
    }
}
@media (max-width: 670px) and (max-height: 1024px){
    .sendAsGift{
        height: 130vh;
    }
}
@media (max-width: 670px) and (max-height: 768px){
    .sendAsGift{
        height: 170vh;
    }
}
@media (max-width: 620px) and (max-height: 1024px){
    .sendAsGift{
        height: 140vh;
    }
}
@media (max-width: 620px) and (max-height: 768px){
    .sendAsGift{
        height: 170vh;
    }
}
@media (max-width: 620px) and (max-height: 690px){
    .sendAsGift{
        height: 190vh;
    }
}
@media (max-width: 540px) and (max-height: 768px){
    .sendAsGift{
        height: 170vh;
    }
}
@media (max-width: 540px) and (max-height: 690px){
    .sendAsGift{
        height: 200vh;
    }
}
@media (max-width: 486px){
    .sendAsGift h2{
        font-size: 35px;
    }
    .sendAsGift-title-after{
        font-size: 16px;
    }
    .sendAsGift ul li{
        font-size: 15px;
    }
    .sendAsGift .contact .btn{
        width: 120px;
        height: 40px;
        font-size: 15px;
        letter-spacing: 0.8px;
    }
}
@media (max-width: 425px) and (max-height: 768px){
    .sendAsGift{
        height: 170vh;
    }
}
@media (max-width: 425px) and (max-height: 670px){
    .sendAsGift{
        height: 190vh;
    }
}
@media (max-width: 420px){
    .sendAsGift-title-before{
        font-family: 'Khand', sans-serif;
        font-size: 16px;
    }
    .sendAsGift h2{
        font-size: 30px;
        line-height: 40px;
    }
    .sendAsGift-title-after{
        font-size: 15px;
    }
    .sendAsGift ul li{
        font-size: 15px;
    }
    .sendAsGift .contact .btn{
        width: 120px;
        height: 40px;
        font-size: 15px;
        letter-spacing: 0.8px;
    }
}
@media (max-width: 375px) and (max-height: 768px){
    .sendAsGift{
        height: 150vh;
    }
}
@media (max-width: 375px) and (max-height: 670px){
    .sendAsGift{
        height: 170vh;
    }
}
@media (max-width: 320px) and (max-height: 768px){
    .sendAsGift{
        height: 150vh;
    }
}
@media (max-width: 320px) and (max-height: 710px){
    .sendAsGift{
        height: 170vh;
    }
}
@media (max-width: 320px) and (max-height: 620px){
    .sendAsGift{
        height: 190vh;
    }
}